{% extends 'user_layout.html' %}
{% block content %}
<div class="container mt-4">
    <h3>Your Quiz Summary 📊</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Quiz</th>
                <th>Score</th>
                <th>Attempted On</th>
            </tr>
        </thead>
        <tbody>
            {% for s in scores %}
            <tr>
                <td>{{ s.quiz.name }}</td>
                <td>{{ s.total_scored }}/{{ s.quiz.questions|length }}</td>
                <td>{{ s.time_stamp_of_attempt.strftime('%d-%b-%Y') }} at {{ s.time_stamp_of_attempt.strftime('%H:%M') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
