<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="../static/styles/app.css">
</head>
<body>
    <header>
        <h1>🔬⏳🔢QuizMaster🌍⚔️📚</h1>
    </header>
    <main>
        <div class="container">
            <form action="get"></form>
            <div class="text-content">
                <h2>Welcome to Quiz Master! 🚀</h2>  
                <h5>Unleash your inner genius! ⚡ Challenge yourself, break records, and rule the leaderboard 🏆. Every quiz is a new adventure—are you ready to win? 🔥</h5>   
                <a href="/login" class="login-btn">Register / Login</a>
            </div>
            <div class="image-content">
                <img src="../static/images/posterapp.jpg" alt="Workflow Diagram">
            </div>
        </div>
    </main>
    <div class="col-md-12 text-center">
        Copyright © 2025 - All Rights Reserved - 23F2005517 HARSH QUIZMASTER</div>
</body>
</html>


